<html>
    <head>
        <link rel='stylesheet'          href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>University Registrar</title>
    </head>
    <body>
        <h1>Univeristy Registrar</h1>

        <h3><a href="/courses">Add or view a course</a></h3>

    </body>
</html>
